.footer{
    height: 100px;
    padding-top: 50px;

    img{
        height: 100px;
        margin: 0 auto
    }
    .footer-txt{
        display: block;
        text-decoration: underline;;
        font-size: 16px;
        margin: 0 10px 0 30px;
    }
}