.header{
    //position: relative;
    height: 100px;
    background-color: lightgray;
    margin-bottom: 20px;

    img{
        margin-left: 50px;
        height: 100px;
    }

    .login-txt{
        font-weight: bold;
        font-size: 35px;
        padding: 20px 0 0 100px;      
    }
}